[user]
	email = npaolopepito@gmail.com
	name = Paolo Pepito
[alias]
	s = status
	br = branch
	co = checkout
	a = add
	b = branch
	cm = commit
[push]
	autoSetupRemote = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    hyperlinks = true
    blame = true

[merge]
    conflictstyle = zdiff3
