[character]
success_symbol = '[\$](bold green)'
error_symbol = '[\$](bold red)'
vimcmd_visual_symbol = '[\$](bold purple)'
vimcmd_symbol = '[\$](bold blue)'

[nodejs]
disabled = true

[cmd_duration]
disabled = true

[package]
disabled = true

[docker_context]
disabled = true

[aws]
disabled = true

[git_status]
use_git_executable = true
